/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* common style */
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.primary-button{
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 43px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    border: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 178px;
}
/* header section style start */
.header{
    background-color: rgba(229, 84, 115, 0.10);
}
.header-wrapper{
    display: flex;
    gap: 70px;
    align-items: center;
}
.header-headline{
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 32px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
}
/* our-featured-flowers section style start */
.our-featured-flowers-title{
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 22px;
}
.our-featured-flowers-sub-title{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.our-featured-flowers-wrapper{
    display: flex;
    gap:24px;
}
.our-featured-flowers-inner-1{
    width: 464px;
    height: 530px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 48px 24px 0px 24px;
}
.our-featured-flowers-inner-2{
    width: 464px;
    height: 530px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 48px 24px 0px 24px;
}
.our-featured-flowers-inner-3{
    width: 464px;
    height: 530px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 48px 24px 0px 24px;
}
.featured-flowers-img{
    display: block;
    width: 100%;
    height: 100%;
}
.flower-ingfo{
    padding-top: 12px;
    text-align: center;
}
.flower-ingfo-ang{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}
/* product service info section style start */
.product-service-info-wrapper{
    display: flex;
    gap: 80px;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 86px 130px;
    border-radius: 8px;
}
.product-service-info-inner img{
    display: block;
    margin: 0 auto;
}
.product-service-info-title{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
/* hot deal section style start */
section.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-wrapper{
    display: flex;
    gap: 200px;
    padding: 100px 43px;
    align-items: center;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.color-hot-deal{
    color: #E55473;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.hot-deal-inner img{
    width: 100%;
    height: 100%;
}